.color {
    background-color: rgb(68, 60, 60)
}
.nav-link {
    color: antiquewhite;
}

.nav-link:hover {
    color: rgb(224, 170, 98);
}

.nav-link:focus {
    color: rgb(224, 170, 98);
}

body {
    background-image: url(/imagenes/relleno.jpg) 
}

.card {
    margin-right: 15px;
    color: antiquewhite;
    background-color: #000000
}

.container {
margin-top: 60px;
margin-bottom: 60px;
}
